@import url('https://fonts.googleapis.com/css2?family=Rubik:display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%; /* 10px */
}

a {
    text-decoration: none;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: large;
    background:rgb(254,245,248) 
}

section {
    min-height: 100vh; 
    height: max-content;
}


/* Loader */
.loader {
    display: none;
    background: none repeat scroll 0 0 #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
}
.loader .loader_inner {
    animation: animate 1.5s linear infinite;
    clip: rect(0, 80px, 80px, 40px);
    height: 80px;
    width: 80px;
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
}
@keyframes animate {
    0% {
      transform: rotate(0deg)
    }
    100% {
      transform: rotate(220deg)
    }
}
.loader .loader_inner:after {
    animation: animate2 1.5s ease-in-out infinite;
    clip: rect(0, 80px, 80px, 40px);
    content:'';
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute;
}
@keyframes animate2 {
    0% {
      box-shadow: inset #b3dfd8 0 0 0 17px;
      transform: rotate(-140deg);
    }
    50% {
      box-shadow: inset #b3dfd8 0 0 0 2px;
    }
    100% {
      box-shadow: inset #b3dfd8 0 0 0 17px;
      transform: rotate(140deg);
    }
}


.btn {
    width: 21rem;
    height: 5rem;
    background: #8C50FF;
    border-radius: 0.85rem;
    font-size: 1.8rem;
    font-weight: lighter;
    margin-top: 2rem;
}

.collapse {
    justify-content: flex-end;
}

.navbar-brand {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: large;
}

.title {
    color: rgba(255, 255, 255, 1);
    font-size: 4.8rem;
    font-weight: 900;
}

.description {
    padding-top: 1rem;
    font-size: 2.4rem;
    color: rgba(255, 255, 255, 0.85);
}

.small-description {
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.75);
}

.col-sm {
    margin: 0 auto;
    flex-grow: 1;
    padding-top: 2rem;
}

@media (min-width: 576px) {
    .col-sm {
        flex-grow: unset;
    }
}

.card {
    padding: 2rem;
    border-radius: 2.3rem;
    box-shadow: 8px 8px 20px 3px rgba(0, 0, 0, 0.15);
    min-height: 55rem;
}

.card-title {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}

.card-img-top {
    height: 30rem;
    width: auto;
}

.learn-more {
    margin-top: 3rem;
    padding-bottom: 5rem;
}

.link-more {
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.60) !important;
}

.link-more:hover {
    color: #0069d9 !important;
}



.content {
    padding-top: 5rem;
    padding-bottom: 5rem;
}


header {
    background: #0B1E50;
}

footer {
    color: #fff;
    text-align: center;
}

#welcome, #about, #learning, #classification, .settings-section {
    height: fit-content; 
    min-height: 100vh; 
}

#welcome, #classification, footer{
    background: #0B1E50;
}

#about .title, #learning .title {
    color: rgba(0, 0, 0, 1);
}

#about .title, #about .description, #about .learn-more {
    text-align: center;
    text-decoration: none;
    padding-top: 2rem;
}

#about .description, #learning .description {
    color: rgba(0, 0, 0, 0.85);
}

#learning .small-description {
    color: rgba(0, 0, 0, 0.75);
}

.footer-text {
    margin: 0;
    padding-bottom: 1rem;
}

/* Results Section (WIP)*/

.results-section {
    height: fit-content;
    display: grid;
    justify-content: center;
    padding-bottom: 2rem;
}

.results-section .classification_table {
    border-collapse: collapse;
    margin: .5rem;
}

.results-section td, th{
    padding: .5rem 1rem;
    border: 1px solid black;
}

.results-section .predict_head th{
    font-weight: normal;
    font-size: large;
    text-align: center;
}

.results-section .predict {
    font-weight: 100;
    font-size: medium;
    text-align: center;
}





/* SOCIAL ICONS */
.social-icons {
    padding-top: 2rem;
    list-style: none;
}
.social-icons li {
    display: inline-block;
    position: relative;
    font-size: 24px;
}
.social-icons i,
.social-icons img {
    color: #fff;
    position: absolute;
    top: 18px;
    left: 18px;
    width: 24px;
    height: 24px;
    text-align:center;
    transition: all 0.3s ease-out;
}
.social-icons a {
    display: inline-block;
}
.social-icons a:before {
    transform: scale(1);
    content: "";
    width: 5rem;
    height: 5rem;
    display: block;
    transition: all 0.3s ease-out;
}
.social-icons a:hover:before {
    transform: scale(0);
    transition: all 0.3s ease-in;
}
.social-icons a:hover i,
.social-icons a:hover img {
    transform: scale(1.3);
    color: #ffffff;
    transition: all 0.3s ease-in;
}




[data-tooltip] {
    position: relative; /* Относительное позиционирование */ 
   }
   [data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    width: 300px; /* Ширина подсказки */
    left: 0; top: 0; /* Положение подсказки */
    background: #3989c9; /* Синий цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 0.5s; /* Время появления подсказки */
   } 
   [data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: 2em; /* Положение подсказки */
    z-index: 100;
   }