@import url('https://fonts.googleapis.com/css2?family=Rubik:display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%; /* 10px */
}

a {
    text-decoration: none;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: large;
}

.container {
    padding-left: 15rem;
    padding-right: 15rem;
}


/* Main Page */


    /* Components */

    .logo {
        width: 50px;
        height: 50px;
        background: #C4C4C4;
        border-radius: 50%;
    }

    .image {
        width: 70.5rem;
        height: auto;
    }

    .title {
        color: rgba(255, 255, 255, 1);
        font-size: 4.8rem;
        font-weight: 900;
    }

    .description {
        font-size: 2.4rem;
        color: rgba(255, 255, 255, 0.85);
    }

    .small-description {
        font-size: 1.8rem;
        color: rgba(255, 255, 255, 0.75);
    }

    .link {
        font-size: 2rem;
        color: rgba(255, 255, 255, 1);
        transition: ease-in 200ms;
    }

    .link:hover {
        color:rgba(255, 89, 60, 0.85);
    }

    .rect-button {
        color: rgba(255, 255, 255, 0.85);
        position: absolute;
	    margin: auto;
        text-align: center;
        width: 20rem;
        height: 4rem;
        background: #2AB7CA;
        box-shadow: 0px 0px 40px -6px rgba(42, 183, 202, 0.5);
        border-radius: 12px;
        padding-top: .5rem;
        padding-bottom: .5rem;
        transition: ease-out 200ms;
    }

    .rect-button span {
        line-height: 4rem;
        text-transform: uppercase;
    }

    .rect-button:hover {
        background:rgba(255, 89, 60, 0.85);
        box-shadow: 0px 0px 40px -6px rgba(255, 89, 60, 0.5);
    }

    .feature {
        text-align: center;
        width: 22rem;
        padding-top: 2rem;
    }


    /* Elements */


        /* Welcome (finished)*/
        .welcome-section {
            background: #0B1E50;
            height: 100vh;
        }
        
        .welcome-section header {
            display: grid;
            grid-template-columns: 1fr 5fr;
            padding-top: 5rem;
        }

        .welcome-section header .logo{
            padding-top: -1rem;
        }

        .welcome-section .nav-bar {
            text-align: end;
        }

        .welcome-section .nav-bar a {
            margin-left: 3rem;
        }

        .welcome-section .content {
            display: flex;
            justify-content: space-between;
            padding-top: 30vh;
            padding-bottom: .5rem;
            text-align: left;
        }

        .welcome-section .content .description {
            width: 45rem;
            padding-top: 1rem;
        }
        
        .welcome-section .content #welcome-image {
            height: auto;
            width: 80rem;
            margin-top: -20vh;
        } 

        .welcome-section .rect-button {
            background: #8C50FF;
            margin-top: 2rem;
            box-shadow: 0px 0px 40px -6px rgba(140, 80, 255, 0.5);
        }

        .welcome-section .rect-button:hover {
            background:rgba(255, 89, 60, 0.85);
            box-shadow: 0px 0px 40px -6px rgba(255, 89, 60, 0.5);
        }
    

        /* About (finished)*/

        .about-section {
            background: #FFFFFF;
            height: fit-content;
        }
        
        .about-section .title {
            color:rgba(0, 0, 0, 1);
            text-align: center;
            margin-top: 7rem;
        }

        .about-section .description {
            margin-top: 2.4rem;
            padding-left: 12rem;
            padding-right: 12rem;
            text-align: center;
            color:rgba(0, 0, 0, 0.85);
        }
        
        .about-section .features {
            margin-top: 5.4rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(42rem, 1fr));
            grid-gap: 8rem; 
            justify-items: stretch;
            align-items: stretch;
        }

        .about-section .feature-title {
            margin-top: 2.1rem;
            font-size: 3rem;
            color: rgba(0, 0, 0, 1);
            font-weight: 600;
        }

        .about-section .feature-description {
            margin-top: 2.1rem;
            font-size: 2.4rem;
            color: rgba(0, 0, 0, 0.85);
        }

        .about-section .features .feature {
            padding: 4rem 4rem;
            width: 35rem;
            margin: 0 auto;
            background: #FFFFFF;
            box-shadow: 8px 8px 20px 3px rgba(0, 0, 0, 0.25);
            border-radius: 23px;
        }


        .about-section .feature .logo {
            margin-left: calc(50% - 5rem);
            width: 12.3rem;
            height: 12.3rem;
        }
        
        .about-section .feature .title {
            font-size: 2.6rem;
            margin-top: 1rem;
            margin-bottom: .6rem;
            color:rgba(0, 0, 0, 1)
        } 

        .about-section .learn-more {
            margin-top: 8.2rem;
            text-align: center;
            padding-bottom: 16.2rem;
        }
        
        .about-section .learn-more a {
            text-decoration: none;
            font-size: 2.4rem;
            color: rgba(0, 0, 0, .5);
            transition: ease-out 200ms;
        }

        .about-section .learn-more a:hover {
            color: rgba(255, 89, 60, 0.50);
        }


        /* Learning */

        .learning-section {
            background: #202020;
            height: 100vh;
        }

        .learning-section .content{
            display: flex;
            justify-content: space-between;
            padding-top: 35vh;
            padding-bottom: .5rem;
            text-align: left;
        }

        .learning-section .content .description {
            width: 45rem;
            padding-top: 1rem;
        }
        
        .learning-section .content #learning-image {
            height: auto;
            width: 75rem;
            margin-top: -30vh;
        } 

        .learning-section .rect-button {
            background: #8C50FF;
            margin-top: 2rem;
            box-shadow: 0px 0px 40px -6px rgba(140, 80, 255, 0.5);
        }

        .learning-section .rect-button:hover {
            background:rgba(255, 89, 60, 0.85);
            box-shadow: 0px 0px 40px -6px rgba(255, 89, 60, 0.5);
        }


        /* Classification */

        .classification-section {
            background: #202020;
            height: 100vh;
        }

        .classification-section .content{
            display: flex;
            justify-content: space-between;
            padding-top: 35vh;
            padding-bottom: .5rem;
            text-align: right;
        }

        .classification-section .content .description {
            width: 30rem;
            padding-top: 1rem;
        }
        
        .classification-section .content #learning-image {
            height: auto;
            width: 70rem;
            margin-top: -30vh;
        } 

        .classification-section .rect-button {
            background: #8C50FF;
            margin-top: 2rem;
            box-shadow: 0px 0px 40px -6px rgba(140, 80, 255, 0.5);
        }

        .classification-section .rect-button:hover {
            background:rgba(255, 89, 60, 0.85);
            box-shadow: 0px 0px 40px -6px rgba(255, 89, 60, 0.5);
        }


        /* Footer */

        footer {
            background: #D3D3D3;
            height: fit-content;
            text-align: center;
            padding-top: 2.4rem;
            padding-bottom: 2.4rem;
        }




/* Classification Page */

    /* Elements */

    .classification_table {
        border-collapse: collapse;
        margin: .5rem;
    }

    td, th{
        padding: .5rem 1rem;
        border: 1px solid black;
    }

    .predict_head th{
        font-weight: normal;
        font-size: large;
        text-align: center;
    }

    .predict {
        font-weight: 100;
        font-size: medium;
        text-align: center;
    }