@import url('https://fonts.googleapis.com/css2?family=Rubik:display=swap');

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: larger;
}


/* Main Page */

nav {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.logo {
    width: 60px;
    height: auto;
}

.nav_var {
    text-align: end;
}

.logo_copyright {
    font-weight: lighter;
    font-size: xx-small;
}




/* Classification Page */

.classification_table {
    border-collapse: collapse;
    margin: .5rem;
}

td, th{
    padding: .5rem 1rem;
    border: 1px solid black;
}

.predict_head th{
    font-weight: normal;
    font-size: large;
    text-align: center;
}

.predict {
    font-weight: 100;
    font-size: medium;
    text-align: center;
}