{% import "bootstrap/wtf.html" as wtf %}
{% extends "bootstrap/base.html" %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Классификация сетевого трафика</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">    
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <link rel="shortcut icon" href="static/favicon.ico">
{% endblock %}

{% block body %}
    <div id="loaders" class="loaders">
        <div class="loaders_inner"></div>
    </div>
    <section id="classification-settings" class="settings-section">
        <header class="classification-header">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="">
                            <img src="/static/img/Shield.png" alt="" width="36" height="48" class="d-inline-block align-text-center">
                            ShielDDoS
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">На главную</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="learning">Обучение</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="classification">Классификация</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <div class="container">
            <div class="content">
                <div class="row align-items-center">
                    <div class="col-8" style="max-width: 70rem;">
                        <p class="title" style="color: rgba(0, 0, 0, 1);">Классификация</p>
                        <p class="description" style="color: rgba(0, 0, 0, 0.85);">Для начала работы загрузите файл с данными в формате CSV и выберите модель классификации</p>
                        <form action="" method="POST" enctype=multipart/form-data class="form-classification">
                            {{ form.csrf_token }}
                            <p class="label">{{ form.classification_model.label() }} {{ form.classification_model() }}</p>
                            <p class="label">{{ form.input_file() }}</p>
                            {% if form.input_file.errors %} 
                                {% for error in form.input_file.errors %}
                                    <p style="color: red;">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                            <a href="#results">{{ form.submit(class="btn btn-primary btn-lg", onclick="load()") }}</a>
                            <br>
                        </form>
                    </div>
                    <div class="col-4" style="margin-left: auto;">
                        <img src="../static/img/Coding_PNG.png" alt="" class="img-fluid">
                    </div>
                    {% if success %}
                    <style>
                    .loader {
                        display: none;
                   }
                   .content {
                       padding-top: 2rem;
                   }
                    </style>
                    <div class="results-section">
                        <caption><b>Результат классификации</b></caption>
                        <div class="frame">
                            <table class="classification_table">
                                <tr class="predict_head">
                                    <th>№</th>
                                    <th>Dst Port</th>
                                    <th>Timestamp</th>
                                    <th>Flow Duration</th>
                                    <th>Tot Fwd Pkts</th>
                                    <th>True Result</th>
                                    <th>ANN Result</th>
                                </tr>
                                {% for i in range(0, length) %}
                                    <tr class="predict">
                                        <td>{{i+1}}</td>
                                        <td>{{data[['Dst Port']].iloc[i].values[0]}}</td>
                                        <td>{{data[['Timestamp']].iloc[i].values[0]}}</td>
                                        <td>{{data[['Flow Duration']].iloc[i].values[0]}}</td>
                                        <td>{{data[['Tot Fwd Pkts']].iloc[i].values[0]}}</td>
                                        <td>{{attacks[data[['Label']].iloc[i].values[0]]}}</td>
                                        {% if predictions[i] != 0 %}
                                            <td style="color: red;">{{attacks[predictions[i]]}}</td>
                                        {% else %}
                                            <td style="color: green;">{{attacks[predictions[i]]}}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <a href="data/result/dataframe.csv" download="dataframe.csv"><button class="btn btn-primary btn-lg">Сохранить</button></a>
                    </div>
                    
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    
        <style>.loader {
            display: none;
        }</style>>
    
    <footer>
        <div class="container">
            <ul class="social-icons">
                <li><a href="https://github.com/ezmade"><i class="fa fa-github"></i></a></li>
                <li><a href="https://www.instagram.com/ezmade/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://vk.com/easymadee"><i class="fa fa-vk"></i></a></li>
                <li><a href="https://www.facebook.com/anton.easymade"><i class="fa fa-facebook"></i></a></li>
            </ul>
            <p id="phone" class="footer-text">Тел.: +7 (951) 801 91-91</p>
            <p id="email" class="footer-text">Email: antonboykodev@gmail.com</p>
            <p id="copyright" class="footer-text">© 2020-2021, Anton Boyko</p>
        </div>
    </footer>

    <script src="static/js/script.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
    <script>
      $('.modal').on('shown.bs.modal', function () {
        $(this).find('[autofocus]').focus();
      });
    </script>
{% endblock %}