<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Классификация данных</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="shortcut icon" href="static/favicon.ico">
</head>
<body>
    <a class="link" href="/">На главную</a>
    <form action="" method="POST" class="form-classification">
        {{ form.csrf_token }}
        {{ form.classification_model.label() }} {{ form.classification_model() }}
        {{ form.input_file.label() }} {{ form.input_file() }}
        <button type="submit">Загрузить</button>
        {{ form.result() }}
    </form>
</body>
</html>