<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANN for DDoS Attack Detection</title>
    <link rel="shortcut icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <section id="welcome" class="welcome-section">
        <div class="container">
            <header>
                <div class="logo">
                    <img src="" alt="" class="logo-img">
                    <span>ShielDDoS</span>
                </div>
                <div class="nav-bar">
                    <a class="link" href="#about">О проекте</a>
                    <a class="link" href="learning">Обучение</a>
                    <a class="link" href="classification">Классификация</a>
                </div>
            </header>
            <div class="content">
                <div class="info">
                    <p class="title">Anti-DDoS</p>
                    <p class="description">с использованием</p>
                    <a class="rect-button" href="#about"><span>Подробнее</span></a>
                </div>
                <img src="" alt="" id="welcome-image" class=image>
            </div>
        </div>
    </section>

    <section id="about" class="about-section">
        <div class="container">
            <p class="title">О проекте</p>
            <p class="description">Программное обеспечение для классификации сетевого трафика</p>
            <div class="features">
                <div class="feature">
                    <div class="logo"></div>
                    <p class="title">Название функции</p>
                    <p class="description">Высокий уровень вовлечения представителей целевой аудитории является четким
                        доказательством простого факта: высококачественный прототип будущего проекта требует определения и
                        уточнения
                        благоприятных перспектив. Противоположная точка зрения подразумевает, что активно развивающиеся
                        страны
                        третьего мира описаны максимально подробно.</p>
                </div>
                <div class="feature">
                    <div class="logo"></div>
                    <p class="title">Название функции</p>
                    <p class="description">Высокий уровень вовлечения представителей целевой аудитории является четким
                        доказательством простого факта: высококачественный прототип будущего проекта требует определения и
                        уточнения
                        благоприятных перспектив. Противоположная точка зрения подразумевает, что активно развивающиеся
                        страны
                        третьего мира описаны максимально подробно.</p>
                </div>
                <div class="feature">
                    <div class="logo"></div>
                    <p class="title">Название функции</p>
                    <p class="description">Высокий уровень вовлечения представителей целевой аудитории является четким
                        доказательством простого факта: высококачественный прототип будущего проекта требует определения и
                        уточнения
                        благоприятных перспектив. Противоположная точка зрения подразумевает, что активно развивающиеся
                        страны
                        третьего мира описаны максимально подробно.</p>
                </div>
            </div>
            <a class="learn-more" href="model.html">Как это работает?</a>
        </div>
    </section>

    <section id="learning" class="learning-section">
        <div class="container">
            <div class=info>
                <p class="title">Обучение</p>
                <p class="description">Вы можете почувствовать себя настоящим специалистом в области искусственного интеллекта</p>
                <p class="small-description">Настройте параметры, выберите архитектуру и обучите уже на готовом наборе данных свою собственную нейронную сеть</p>
                <a class="rect-button" href="model"><span>Попробовать</span></a>
            </div>
            <img src="" alt="" id="learning-image" class="image">
        </div>
    </section>

    <section id="classification" class="classification-section">
        <div class="container">
            <div class=info>
                <p class="title">Классификация</p>
                <p class="description">Проверьте свой трафик на наличие DDoS атак. Система сообщит Вам, если найдет что-то подозрительное</p>
                <p class="small-description">5 обученных моделей используются для классификации сетевого трафика с очень высокой точностью</p>
                <a class="rect-button" href="model"><span>Попробовать</span></a>
            </div>
            <img src="" alt="" id="learning-image" class="image">
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="social">
                <img src="" alt="" id="github" class="social-media-icon">
                <img src="" alt="" id="instagram" class="social-media-icon">
                <img src="" alt="" id="vkontakte" class="social-media-icon">
                <img src="" alt="" id="facebook" class="social-media-icon">
            </div>
            <p id="phone" class="footer-text">Тел.: +7 (951) 801 91-91</p>
            <p id="email" class="footer-text">Email: antonboykodev@gmail.com</p>
            <p id="copyright" class="footer-text">© 2020-2021, Anton Boyko</p>
        </div>
    </footer>

</body>

</html>