{% import "bootstrap/wtf.html" as wtf %}
{% extends "bootstrap/base.html" %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANN for DDoS Detection</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <link rel="shortcut icon" href="static/favicon.ico">
{% endblock %}

{% block body %}
    <section id="welcome">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="">
                        <img src="/static/img/Shield.png" alt="" width="36" height="48" class="d-inline-block align-text-center">
                        ShielDDoS
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="#about">О проекте</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="learning">Обучение</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="classification">Классификация</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="row align-items-center">
                    <div class="col-6" style="max-width: 60rem;">
                        <p class="title">Anti-DDoS</p>
                        <p class="description">Классификация сетевого трафика на основе различных архитектур нейронных сетей</p>
                        <a href="#about"><button type="button" class="btn btn-primary btn-lg">Подробнее</button></a>
                    </div>
                    <div class="col-6" style="margin-left: auto;">
                        <img src="../static/img/security_PNG.png" alt="" id="image-welcome" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <p class="title">О проекте</p>
            <p class="description">Программное обеспечение для классификации сетевого трафика,
                разработанное в рамках выпускной квалификационой работы бакалавра по направлению
                "Программная инженерия" в Южно-Уральском Государственном Университете
            </p>
            <div class="features">
                <div class="feature">
                    <div class="logo"></div>
                    <p class="feature-title">Название функции</p>
                    <p class="feature-description">Высокий уровень вовлечения представителей целевой аудитории является четким
                        доказательством простого факта: высококачественный прототип будущего проекта требует.</p>
                </div>
                <div class="feature">
                    <div class="logo"></div>
                    <p class="feature-title">Название функции</p>
                    <p class="feature-description">Высокий уровень вовлечения представителей целевой аудитории является четким
                        доказательством простого факта: высококачественный прототип будущего проекта требует.</p>
                </div>
                <div class="feature">
                    <div class="logo"></div>
                    <p class="feature-title">Название функции</p>
                    <p class="feature-description">Высокий уровень вовлечения представителей целевой аудитории является четким
                        доказательством простого факта: высококачественный прототип будущего проекта требует.</p>
                </div>
            </div>
            <div class="learn-more">
                <a class="link-more" href="models">Как это работает?</a>
            </div>
        </div>
    </section>

    <section id="classification" class="classification-section">
        <div class="container">
            <div class="content">
                <div class="row align-items-center">
                    <div class="col-7" style="max-width: 60rem;">
                        <p class="title">Классификация</p>
                        <p class="description">Проверьте свой трафик на наличие DDoS атак. Система сообщит Вам, если найдет что-то подозрительное</p>
                        <p class="small-description">5 обученных моделей используются для классификации сетевого трафика с очень высокой точностью</p>
                        <a href="classification"><button type="button" class="btn btn-primary btn-lg">Подробнее</button></a>
                    </div>
                    <div class="col-5" style="margin-left: auto;">
                        <img src="../static/img/Analytics_PNG.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="learning">
        <div class="container">
            <div class="content">
                <div class="row align-items-center">
                    <div class="col-5">
                        <img src="../static/img/Data_analysis_PNG.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-7 text-right" style="max-width: 60rem; margin-left: auto;" >
                        <p class="title">Обучение</p>
                        <p class="description">Вы можете почувствовать себя настоящим специалистом в области искусственного интеллекта</p>
                        <p class="small-description">Настройте параметры, выберите архитектуру и обучите на готовом наборе данных свою собственную нейронную сеть</p>
                        <a href="learning"><button type="button" class="btn btn-primary btn-lg">Попробовать</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="social">
                <img src="" alt="" id="github" class="social-media-icon">
                <img src="" alt="" id="instagram" class="social-media-icon">
                <img src="" alt="" id="vkontakte" class="social-media-icon">
                <img src="" alt="" id="facebook" class="social-media-icon">
            </div>
            <p id="phone" class="footer-text">Тел.: +7 (951) 801 91-91</p>
            <p id="email" class="footer-text">Email: antonboykodev@gmail.com</p>
            <p id="copyright" class="footer-text">© 2020-2021, Anton Boyko</p>
        </div>
    </footer>
{% endblock %}