<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ANN for DDoS Attack Detection</title>
  <link rel="shortcut icon" href="static/favicon.ico">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <header>
    <nav>
      <div class="logo"></div>
      <div class="nav_bar">
        <a class="link" href="#about">О проекте</a>
        <a class="link" href="learning">Обучение</a>
        <a class="link" href="model">Модели</a>
        <a class="link" href="classification">Классификация</a>
      </div>
    </nav>
    <div class="welcome-description">
      <div class="desc-text">
        <p class="title">Классификация сетевого трафика</p>
        <p class="description">с использованием</p>
        <p class="description">различных архитектур нейронной сети</p>
      </div>
      <a class="round-button" href="#about">
        <span>Подробнее</span>
      </a>
    </div>
  </header>

  <section id="about" class="about-section">
    <p class="title">О проекте</p>
    <p class="description">Программное обеспечение для классификации сетевого трафика</p>
    <div class="features">
      <div class="feature">
        <div class="logo"></div>
        <p class="title">Название функции</p>
        <p class="description">Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высококачественный прототип будущего проекта требует определения и уточнения благоприятных перспектив. Противоположная точка зрения подразумевает, что активно развивающиеся страны третьего мира описаны максимально подробно.</p>
      </div>
      <div class="feature">
        <div class="logo"></div>
        <p class="title">Название функции</p>
        <p class="description">Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высококачественный прототип будущего проекта требует определения и уточнения благоприятных перспектив. Противоположная точка зрения подразумевает, что активно развивающиеся страны третьего мира описаны максимально подробно.</p>
      </div>
      <div class="feature">
        <div class="logo"></div>
        <p class="title">Название функции</p>
        <p class="description">Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высококачественный прототип будущего проекта требует определения и уточнения благоприятных перспектив. Противоположная точка зрения подразумевает, что активно развивающиеся страны третьего мира описаны максимально подробно.</p>
      </div>
      <div class="feature">
        <div class="logo"></div>
        <p class="title">Название функции</p>
        <p class="description">Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высококачественный прототип будущего проекта требует определения и уточнения благоприятных перспектив. Противоположная точка зрения подразумевает, что активно развивающиеся страны третьего мира описаны максимально подробно.</p>
      </div>
    </div>
  </section>

  <section class="model-section">
    <div class=model-description>
      <div class="desc-text">
        <p class="title">Модели</p>
        <p class="description">Система имеет 5 обученных моделей на основе многослойного персептрона с различными функциями активации и оптимизаторами</p>
        <p class="small-description">Точность моделей достигает 99.9%, что дает гарантии корректной классификации сетевого трафика</p>
      </div>
      <a class="round-button" href="model">
        <span>Подробнее</span>
      </a>
    </div>
  </section>

  <footer>
  </footer>

</body>

</html>