<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обучение модели</title>
</head>
<body>
    <h2>Обучение модели</h2>
    <form action="" method="post">
        <p>
	        <label for="username">Выбери модель</label>
	    </p>
    </form>
    <select name="model" method="GET" action="/">
        {% for model in models %}
            <option value="{{model}}" selected>{{model}}</option>
        {% endfor %}
    </select>
</body>
</html>