<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обучение модели</title>
    <link rel="shortcut icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <a class="link" href="/">На главную</a>
    <h2>Обучение модели</h2>
    <form action="" method="POST" class="form-learning">
        {{ form.csrf_token }}
        {{ form.activations.label() }} {{ form.activations() }}
        {{ form.solvers.label() }} {{ form.solvers() }}
        {{ form.max_iters.label() }} {{ form.max_iters() }}
        {{ form.sizes.label() }} {{ form.sizes() }}
        <br>
        <button type="submit">Обучить</button>
        <br>
        {% if success %}
            <p style="color: green;">Success</p>
            <p>Accuracy: {{ accuracy }}</p>
            <p>Precision: {{ precision }}</p>
            <p>F1 Score: {{ f1score }}</p>
        {% else %}
            <p style="color: red;">Failure</p>
        {% endif %}
    </form>
    <script src="/static/js/learning.js"></script>
</body>
</html>